[Desktop Entry]
Type=Application
Name=YouTube Music Desktop
Comment=Desktop client for YouTube Music
Path=/home/artur/AppImages/YTMDesktop.AppImage
Exec=YTMDesktop.AppImage