configuration {
    line-margin: 10;

    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
    show-icons:     true;

    font: "MesloLGS Nerd Font 16";
}

@theme "~/.config/rofi/themes/pufereq.rasi"
